{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Flask Login Example
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>

{% for PRODUCT_URL in PRODUCT_IMAGES_URLS: %}
<div class="single-product-items">
    <div class="product-item-image">
        <a href="#"><img src={{ PRODUCT_URL }} alt="Product"></a>
        <!-- <div class="product-discount-tag">
            <p>-60%</p>
        </div> -->
    </div>
    <div class="product-item-content text-center mt-30">
        <h5 class="product-title"><a href="#">{{ PRODUCT_NAME }}</a></h5>
        <span class="regular-price">${{ PRODUCT_PRICE }}</span>
        <!-- <span class="discount-price">${{ PRODUCT_PRICE }}</span> -->
    </div>
</div>
{% endfor %}
{% endblock %}