{% extends "base.html" %}

{% block content %}
{% for PRODUCT in PRODUCTS: %}
<div class="single-product-items">
    <div class="product-item-image">
        <a href="#"><img src="static/img/p-1.jpg" alt="Product"></a>
        <div class="product-discount-tag">
            <p>-60%</p>
        </div>
    </div>
    <div class="product-item-content text-center mt-30">
        <h5 class="product-title"><a href="#">{{ PRODUCT }}</a></h5>
        <span class="regular-price">$49.00</span>
        <span class="discount-price">$69.00</span>
    </div>
</div>
{% endfor %}
{% endblock %}